$cd-bars: #15DEA5;
$cd-bars-inv: #0E397F;
$size: 3vh;
$num-bars: 5;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;

body {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;

    &__bar {
        background-color: #15DEA5;
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards infinite ease-in-out alternate;

        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }

            &--#{$i}-inv {
                animation-delay: $anim-delay * $i + random(100)*15ms;
                animation-direction: alternate-reverse;
                animation-fill-mode: forwards;
                background-color: $cd-bars-inv;
                cursor: pointer;

                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1.0);
    }
}

.spin {
    background-color: #15DEA5;
    width: 30vh;
    height: 30vh;
    animation: spin 3s linear infinite paused;
    margin-top: 60px;
    cursor: pointer;

    &:hover {
        animation-play-state: running;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}